* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #928dab,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #928dab,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 80%;
}

.nav-elements {
  font-weight: 600;
  font-size: large;
  padding-right: 5%;
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 20%;
}

.hero-img {
  margin-top: 10%;
  margin-left: -15%;
  height: 75%;
}

/* .btn {
  margin-top: 14%;
  margin-left: 5%;
  padding: 5px;
}
.btn-primary{
  border-radius: 40px;
} */
.buttons{
  display: inline-block;
  margin-top: 12%;
  margin-right: 34px;
}
.button{
  padding: 9px 15px;
  padding-right: 27px;
  padding-left: 27px;
  border-radius: 20px;
  background-color: #1f93f8;
  border: 0;
background-image: linear-gradient(61deg, #43c6ac, #191654 100%, #0052d4);
    box-shadow: 1px 1px 3px 0 #000;
    opacity: 1;
    margin-top: 10px;
    margin-left: 15px
}


.about {
  height: 100vh;
  width: 100%;
  background-position: cover;
}

.about-title {
  font-family: "Advent Pro", sans-serif;
  margin-top: 13%;
  padding: 20px;
  font-size: 60px;
  text-align: center;
}
.about-img {
  margin-top: -2%;
  height: 70%;
  margin-left: -20%;
}

.about-content {
  font-family: "Baloo Tamma 2", cursive;
  margin-top: 5%;
  font-weight: 500;
  font-size: 22px;
}

.register {
  position: relative;
  height: 40vh;
  width: 100%;
  background-position: cover;
  font-family: "Advent Pro", sans-serif;
}

.register-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.register-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7%;
}

.redirection {
  height: 90vh;
  width: 100%;
  background-position: cover;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #928dab,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #928dab,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.redirected {
  color: #c4e0e5;
}

/* Button */


  

@media only screen and (max-width: 768px) {
  .hero-img {
    margin-left: 12%;

    height: 45%;
  }
  .hero-title {
    margin-top: -35%;
  }
  .about-img {
    align-items: center;
    height: 60%;
    margin-left: 4%;
  }

  .about-content {
    margin-top: -45%;
    font-weight: 400;
    font-size: 20px;
  }

  .register-title {
    margin-top: 13%;
  }
}
