* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background: #00d2ff; /* fallback for old browsers */
  background: url("../img/bg-pattern.png"),
    -webkit-linear-gradient(to right, #928dab, #00d2ff); /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"),
    linear-gradient(to right, #928dab, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 2.6rem;
}
.bg-dark {
  transition: 500ms ease;
  background: rgba(85, 104, 189, 0.938) !important;
  color: #000;
}

.nav-elements {
  font-weight: 600;
  font-size: large;
  padding-right: 5%;
  color: #000;
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.header-content {
  margin-top: 15%;
}
.hero-title {
  font-family: "Advent Pro", sans-serif;
  font-size: 20px;
}

.button {
  font-size: medium;
  padding: 9px 15px;
  border-radius: 20px;
  background-color: #1f93f8;
  border: 0;
  background-image: linear-gradient(61deg, #43c6ac, #191654 100%, #0052d4);
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 1;
  margin: 12px;
}

.button:hover {
  transform: scale(1.12);
}
.hero-buttons {
  margin-top: 8%;
  margin-left: -12%;
}

.about-title {
  font-family: "Advent Pro", sans-serif;
  padding: 50px;
  font-size: 60px;
  text-align: center;
}

.about-content {
  font-family: "Baloo Tamma 2", cursive;
  margin-top: 5%;
  font-weight: 500;
  font-size: 18px;
}

.register {
  position: relative;
  height: 40vh;
  width: 100%;
  background-position: cover;
  font-family: "Advent Pro", sans-serif;
}

.register-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 2%;
}

.redirection {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.redirected {
  color: #c4e0e5;
}

.section-divider {
  border: 0.8px;
  height: 0.8px;
  background-color: #000;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 120vh;
  }
  .header-content {
    margin-top: 0;
  }
  .button {
    padding: 10px 18px;
  }
  .hero-buttons {
    align-items: center;
  }
  .about-title {
    font-size: 25px;
  }
  .fa {
    padding: 12px;
    font-size: 20px;
    margin: 12% 0 !important;
  }
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 2%;
  margin-top: 8%;
  text-decoration: none !important;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.99;
  color: blue;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
.fa-whatsapp {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-telegram {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f80759,
    #bc4e9c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f80759,
    #bc4e9c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
